<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="location.href='/run_crawl'">run_crawl</button>
    <button onclick="location.href='/list'">list</button>
    <script>

    </script>
    <div id="run_crawl">

    </div>
    <div id="list">

    </div>
  </body>
</html>
